.report{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: transparentize(black, .6);
  padding: 1rem;
}

.report h1{
  font-size: 2rem;
  padding-bottom: 1.5rem;
  padding-top: 2rem;

}

.report h2{
  font-size: .9rem;
  padding-bottom: 3rem;
  font-style: italic;
  margin-bottom: 6rem;
}

.selectcontain{
  width: 80vw;
  margin-bottom: 1rem;
}

.encounter input{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 7rem;
  height: 100px;
}
.encounter input:hover{
  background-color: transparentize(white, .3);

  }

input:hover[type="text"]{
  color:black;

}

button {
  margin-bottom: 2.5rem;
}
