.report{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  h1{
   font-size: 2rem;
   padding-bottom: 1.5rem;
   padding-top: 1.5rem;
 }
  h2{
   font-size: .9rem;
   padding-bottom: 1rem;
   font-style: italic;
   margin-bottom:20vh;
 }
}

.selectcontain{
  margin-bottom: 1rem;
}

.encounter textarea{
  height: 100px;
  background-color: transparentize(white, .3);
  margin-bottom: 20vh;
  border-radius: 5px;
  border: 2px solid #a9a9a9;
  padding: .5rem;
  font-size: 1rem;
  font-family: $font-family;
  width: 75vw;
  &:hover{
    cursor: pointer;
  }
  &:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
  }
}

.button{
  height: 100px;
  width:100vw;
  background-color: transparentize(black, .3);
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-style: normal;
  font-family: $font-family;
  color:white;
  cursor: pointer;
  bottom: 0;
  left: 0;
  &:hover{
  color:lighten($hover-color, 5%);
  font-size: 1.25rem;
  }
}
