//transform: translate3d
//opacity and transform, transitions
//at beginning of animation------!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


[ui-view].ng-enter, [ui-view].ng-leave{
  transition: all 2s ease-in;
  position:absolute;
  top: 0; left: 0; right: 0;
}

// ENTER ANIMATIONS -----------------
[ui-view].ng-enter {

  .home & {
    opacity: 0;
  }

  .login & {
    opacity: 0;
    -moz-transform: scale(0.0);
    -webkit-transform: scale(0.0);
    -o-transform: scale(0.0);
    -ms-transform: scale(0.0);
    transform: scale(0.0);

  }

  .encounters & {
    opacity: 0;
    -moz-transform: translate(-1000px, 0px);
    -webkit-transform: translate(-1000px, 0px);
    -o-transform: translate(-1000px, 0px);
    -ms-transform: translate(-1000px, 0px);
    transform: translate(-1000px, 0px);

  }

  .report & {
    opacity: 0;
    -moz-transform: translate(0px, 300px);
    -webkit-transform: translate(0px, 300px);
    -o-transform: translate(0px, 300px);
    -ms-transform: translate(0px, 300px);
    transform: translate(0px, 300px);

  }

}

[ui-view].ng-enter-active{

  .home & {
    opacity: 1;
  }
  .login & {
    opacity: 1;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

  .encounters & {
    opacity:1;
    -moz-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  .report & {
    opacity: 1;
    -moz-transform: translate(0px, 1px);
    -webkit-transform: translate(0px, 1px);
    -o-transform: translate(0px, 1px);
    -ms-transform: translate(0px, 1px);
    transform: translate(0px, 1px);

  }

}

// EXIT ANIMATIONS -----------------

[ui-view].ng-leave{

  .home & {
    opacity: 1;
  }

  .login & {
    opacity: 0;
    transition: all .1s ease-out;
  }

  .encounters & {
    opacity: 1;
    -moz-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);

  }

  .report & {
    opacity: 0;
    -moz-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

}

[ui-view].ng-leave-active{

  .home & {
    opacity: 0;
  }

  .login & {
    opacity: 0;
  }

  .encounters & {
    opacity: 0;
    -moz-transform: translate(-1000px, 0px);
    -webkit-transform: translate(-1000px, 0px);
    -o-transform: translate(-1000px, 0px);
    -ms-transform: translate(-1000px, 0px);
    transform: translate(-1000px, 0px);
  }

  .report & {
    opacity: 0;
    -moz-transform: translate(-1000px, 0px);
    -webkit-transform: translate(-1000px, 0px);
    -o-transform: translate(-1000px, 0px);
    -ms-transform: translate(-1000px, 0px);
    transform: translate(-1000px, 0px);
  }

}

//any item that lives inside a ng-repeat repeater gets the ng-enter
//class automatically by angular when an element is added to a list and
//ng-leave when it is removed
